@model BookMonkey.Services.Models.Book

@{
    ViewData["Title"] = "Book Details";
}

<h2>Book Details</h2>

<fieldset>
    <legend>@Model.Title</legend>
    
    <label>Subtitle: </label><span>@Model.Subtitle</span><br/>
    <label>ISBN: </label><span>@Model.Isbn</span><br/>
    <label>Author: </label><span>@Model.Author</span><br />
    <label># of Pages: </label><span>@Model.NumPages</span><br/>
    <label>Publisher: </label><span>@Model.Publisher</span><br />
    <label>Abstract: </label>
    <p>@Model.Abstract</p>
</fieldset>
